[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A daemon that handles the userspace side of the LIO TCM-User backstore.
[access "refs/*"]
	owner = group user/Jianfei Hu (JefferyHu)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jianfei Hu (JefferyHu)
	label-Verified = -1..+1 group user/Jianfei Hu (JefferyHu)
	push = group user/Jianfei Hu (JefferyHu)
	read = group user/Jianfei Hu (JefferyHu)
	rebase = group user/Jianfei Hu (JefferyHu)
	removeReviewer = group user/Jianfei Hu (JefferyHu)
	submit = group user/Jianfei Hu (JefferyHu)
[access "refs/heads/*"]
	create = group user/Jianfei Hu (JefferyHu)
	push = +force group user/Jianfei Hu (JefferyHu)
	pushMerge = group user/Jianfei Hu (JefferyHu)
	read = group user/Jianfei Hu (JefferyHu)
[access "refs/tags/*"]
	push = group user/Jianfei Hu (JefferyHu)
	push = +force group user/Jianfei Hu (JefferyHu)
